<nav class="main-navigation">
  <div class="navigation-content">
    <div class="controls-container container"><a class="logo-link" href="/"><img mediaid="" stylelabs-content-id="30940"
          thumbnailsrc="https://playsummit.sitecoresandbox.cloud/api/gateway/30940/thumbnail"
          stylelabs-content-type="Image" alt="PLAY! Summit logo - stacked light grey" height="113" width="274"
          src="https://playsummit.sitecoresandbox.cloud/api/public/content/83a458a1cb54401cab2308488bbd1031?v=bdb6447b&amp;t=web"></a><button
        class="items-toggle" aria-label="open menu" type="button"><svg fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg></button></div>
    <div class="items-container closed">
      <ul class="container">
        <li class="text-menu-item"><a href="/sessions">Sessions</a></li>
        <li class="text-menu-item"><a href="/speakers">Speakers</a></li>
        <li class="text-menu-item"><a href="/vendors">Vendors</a></li>
        <li class="text-menu-item"><a href="/sponsors">Sponsors</a></li>
        <li class="text-menu-item"><a href="/about-us">About Us</a></li>
        <li class="text-menu-item"><a href="/shop">Shop</a></li>
        <li class="button-menu-item"><a class="btn-main" href="/tickets">Book Tickets</a></li>
      </ul>
    </div>
  </div>
</nav>