<div class="header-eyebrow">
    <div class="content">
        <select class="languagePicker">
            <option value="en" label="English" class="languageItem" selected="">English</option>
            <option value="fr-CA" label="French (Canada)" class="languageItem">French (Canada)</option>
        </select>
    </div>
</div>
<sc-placeholder name="jss-header-content"></sc-placeholder>