<div class="prod-mode">
    <header>
        <sc-placeholder name="jss-header"></sc-placeholder>
    </header>
    <main>
        <sc-placeholder name="jss-main"></sc-placeholder>
    </main>
    <footer>
        <sc-placeholder name="jss-footer"></sc-placeholder>
    </footer>
</div>